nav[class='55a11c7-navbar'] > ul {
  display: flex;
  padding: 0 30px 0 30px;
  margin: 0;
  background-color: #20395B;
  list-style: none;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

nav[class='55a11c7-navbar'] > ul > li.middleSeparator {
  margin-right: auto;
  margin-left: auto;
}

nav[class='55a11c7-navbar'] > ul > li > a {
  display: flex;
  padding: 15px 16px 15px 16px;
  color: #9BD5FD;
  text-decoration: none;
  font-family: Roboto Condensed, serif;
}

nav[class='55a11c7-navbar'] > ul > li:hover {
  background-color: #294974;
  color: #CDE1FE;
}

nav[class='55a11c7-navbar'] a.logo {
  font-size: 1.1rem;
  font-style: bold;
  color: white;
}

/* pure css hamburger menu */
/* https://codepen.io/mutedblues/pen/MmPNPG */
@media only screen and (min-width: 601px) {
  nav[class='c1cdfd8-hamburger'] {
    display: none;
  }
  nav[class='55a11c7-navbar'] > ul {
    display: flex;
  }
}

@media only screen and (max-width: 600px) {
  nav[class='55a11c7-navbar c1cdfd8-hamburger'] {
    display: flex;
  }
  nav[class='55a11c7-navbar'] > ul {
    display: none;
  }
}

nav[class='c1cdfd8-hamburger'] {
  background-color: #20395B;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: top;
  padding: 0 30px 0 30px;
}

nav[class='c1cdfd8-hamburger'] > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #20395B;
}

nav[class='c1cdfd8-hamburger'] > ul > li > a {
  display: block;
  padding: 20px 20px;
  color: #9BD5FD;
  text-decoration: none;
  font-family: Roboto Condensed, serif;
}

nav[class='c1cdfd8-hamburger'] li a:hover,
nav[class='c1cdfd8-hamburger'] .menu-btn:hover {
  background-color: #294974;
  color: #CDE1FE;
}

nav[class='c1cdfd8-hamburger'] .logo {
  display: block;
  float: left;
  font-size: 1.1em;
  padding: 15px 16px 15px 16px;
  font-style: bold;
  color: white;
  text-decoration: none;
  font-family: Roboto Condensed, serif;
}

nav[class='c1cdfd8-hamburger'] .logo:hover {
  background-color: #294974;
}

nav[class='c1cdfd8-hamburger'] .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-in-out;
}

nav[class='c1cdfd8-hamburger'] .menu-icon {
  cursor: pointer; /* Show element as clickable on hover*/
  display: inline-block;
  float: right;
  padding: 24px 20px;
  user-select: none;
}

nav[class='c1cdfd8-hamburger'] .menu-icon .navicon {
  background: #9BD5FD;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-in-out;
  width: 18px;
}

nav[class='c1cdfd8-hamburger'] .menu-icon .navicon:before,
nav[class='c1cdfd8-hamburger'] .menu-icon .navicon:after {
  background: #9BD5FD;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-in-out;
  width: 100%;
}

nav[class='c1cdfd8-hamburger'] .menu-icon:hover {
  background-color: #294974;
}

nav[class='c1cdfd8-hamburger'] .menu-icon .navicon:before {
  top: 5px;
}

nav[class='c1cdfd8-hamburger'] .menu-icon .navicon:after {
  top: -5px;
}

nav[class='c1cdfd8-hamburger'] .menu-btn {
  display: none;
}

nav[class='c1cdfd8-hamburger'] .menu-btn:checked ~ .menu {
  max-height: 999px;
}

nav[class='c1cdfd8-hamburger'] .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

nav[class='c1cdfd8-hamburger'] .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

nav[class='c1cdfd8-hamburger'] .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

nav[class='c1cdfd8-hamburger'] .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
nav[class='c1cdfd8-hamburger'] .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
