<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  <link href='./css/global.css' rel='stylesheet' type='text/css'>
  <link href='./css/navbar.css' rel='stylesheet' type='text/css'>
  <link href='./css/pastYearShowcase.361d489.css' rel='stylesheet' type='text/css'>
</head>

{{template "navbar.html" .}}
<div class="row cohorts">
  <div class="column">
    <a href="#2019"><div class="card">2019</div></a>
  </div>
  <div class="column">
    <a href="#2018"><div class="card">2018</div></a>
  </div>
  <div class="column">
    <a href="#2017"><div class="card">2017</div></a>
  </div>
  <div class="column">
    <a href="#2016"><div class="card">2016</div></a>
  </div>
</div>

<section class="cards">
  {{range .Projects}}
    <article>
      <img class="article-img" src="{{.IgnitionPitchPoster}}" alt=" " />
      <p>{{.ProjectName}}</p>
      <p>Project Video: <a href="{{.ProjectVideo.String}}" target="_blank">Link</a></p>
      <p>Project Poster: <a href="{{.ProjectPoster.String}}" target="_blank">Link</a></p>
      <!-- <p>Students: </p> -->
      <p>Advised by: {{.Adviser}}</p>
    </article>
  {{end}}
</section>
