.burger-shower {
  display: block;
}

.burger-shower:checked ~ .burger-menu {
  display: block;
}

.dork {
  cursor: pointer; /* Show element as clickable on hover*/
  display:block;
  width: 3.4em;
  height: 2.4em;
  line-height: .1em;
  border: .1em solid #ddd;
  padding: 0 .4em .4em;
}

.dork hr {
  color: #ddd;
  height: .1em;
  border: 0;
  background: #ddd;
  border: none;
}

.burger-menu {
  display:none;
}

div.overarching > label.butan {
  cursor: pointer; /* Show element as clickable on hover*/
  /* display: inline-block; */
  /* float: right; */
  padding: 28px 20px;
  /* position: relative; */
  user-select: none;
}
div.overarching > label.butan > span.line {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}
div.overarching > label.butan > span.line:before {
  top: -5px;
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
div.overarching > label.butan > span.line:after {
  top: 5px;
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
div.overarching > input[type='checkbox']:checked ~ label.butan > span.line {
  background: transparent;
}
div.overarching > input[type='checkbox']:checked ~ label.butan > span.line:before {
  top: 0;
  transform: rotate(45deg);
}
div.overarching > input[type='checkbox']:checked ~ label.butan > span.line:after {
  top: 0;
  transform: rotate(-45deg);
}

nav.hamburger-navbar {
  display: flex;
  flex-wrap: wrap;
  background-color: #20395B;
  padding: 0 30px 0 30px;
}
nav.hamburger-navbar > a {
  display: flex;
  padding: 0 16px 0 16px;
  text-decoration: none;
}
nav.hamburger-navbar > a > div {
  align-self: center;
  color: #9BD5FD;
}
nav.hamburger-navbar > label {
  display: block;
  cursor: pointer;
  padding: 20px 16px 20px 10px;
}
#hamburger-line {
  display: block;
  background: #9BD5FD;
  height: 2px;
  width: 18px;
  position: relative;
  transition: all .2s ease-out;
}
#hamburger-line:before {
  display: block;
  top: -5px;
  background: #9BD5FD;
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
  transition: all .2s ease-out;
}
#hamburger-line:after {
  display: block;
  top: 5px;
  background: #9BD5FD;
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
  transition: all .2s ease-out;
}
#hamburger-checkbox:checked ~ label#hamburger-icon > #hamburger-line:before {
  top: 0px;
  transform: rotate(-45deg);
}
#hamburger-checkbox:checked ~ label#hamburger-icon > #hamburger-line {
  background: transparent;
}
#hamburger-checkbox:checked ~ label#hamburger-icon > #hamburger-line:after {
  top: 0px;
  transform: rotate(45deg);
}
ul.hamburger-menu {
  clear: both;
  /* display: none; */
  transition: max-height .2s ease-out;
}
nav.hamburger-navbar input#hamburger-checkbox:checked 
.middleSeparator {
  margin-right: auto;
  margin-left: auto;
}
