{{define "navbars.html public"}}
<nav class="55a11c7">
  <ul>
    <li><a href="#">NUS Orbital</a></li>
    <li><a href="#">Past Year Showcase</a></li>
    <li><a href="#">News</a></li>
    <li class="middleSeparator"></li>
    <li><a href="#">Register</a></li>
    <li><a href="#">Login</a></li>
  </ul>
</nav>
{{end}}

{{define "navbars.html participant"}}
<nav class="55a11c7">
  <ul>
    <li><a href="#">NUS Orbital</a></li>
    <li><a href="#">Submissions</a></li>
    <li><a href="#">Past Year Showcase</a></li>
    <li><a href="#">News</a></li>
    <li><a href="#">Forum</a></li>
    <li class="middleSeparator"></li>
    {{if eq .participantTeamStatus "teamless"}}
    <li><a href="#" style="background-color:red">Create Team</a></li>
    {{else if eq .participantTeamStatus "inviteSent"}}
    <li><a href="#" style="background-color:red">Invite Sent</a></li>
    {{else if eq .participantTeamStatus "invitePending"}}
    <li><a href="#" style="background-color:red">Invite Pending</a></li>
    {{else}}
    <li><a href="#">Your Team</a></li>
    {{end}}
    <li><a href="#" style="font-style:italic;color:white">{{.display_name}}</a></li>
    <li><a href="#">Login</a></li>
  </ul>
</nav>
{{end}}

{{define "navbars.html adviser"}}
<nav class="55a11c7">
  <ul>
    <li><a href="#">NUS Orbital</a></li>
    <li><a href="#">Submissions</a></li>
    <li><a href="#">Past Year Showcase</a></li>
    <li><a href="#">News</a></li>
    <li><a href="#">Forum</a></li>
    <li class="middleSeparator"></li>
    {{if eq .participantTeamStatus "teamless"}}
    <li><a href="#" style="background-color:red">Create Team</a></li>
    {{else if eq .participantTeamStatus "inviteSent"}}
    <li><a href="#" style="background-color:red">Invite Sent</a></li>
    {{else if eq .participantTeamStatus "invitePending"}}
    <li><a href="#" style="background-color:red">Invite Pending</a></li>
    {{else}}
    <li><a href="#">Your Team</a></li>
    {{end}}
    <li><a href="#" style="font-style:italic;color:white">{{.display_name}}</a></li>
    <li><a href="#">Login</a></li>
  </ul>
</nav>
{{end}}

{{define "navbars.html mentor"}}
<nav class="55a11c7">
  <ul>
    <li><a href="#">NUS Orbital</a></li>
    <li><a href="#">Submissions</a></li>
    <li><a href="#">Past Year Showcase</a></li>
    <li><a href="#">News</a></li>
    <li><a href="#">Forum</a></li>
    <li class="middleSeparator"></li>
    {{if eq .participantTeamStatus "teamless"}}
    <li><a href="#" style="background-color:red">Create Team</a></li>
    {{else if eq .participantTeamStatus "inviteSent"}}
    <li><a href="#" style="background-color:red">Invite Sent</a></li>
    {{else if eq .participantTeamStatus "invitePending"}}
    <li><a href="#" style="background-color:red">Invite Pending</a></li>
    {{else}}
    <li><a href="#">Your Team</a></li>
    {{end}}
    <li><a href="#" style="font-style:italic;color:white">{{.display_name}}</a></li>
    <li><a href="#">Login</a></li>
  </ul>
</nav>
{{end}}

{{define "navbars.html admin"}}
<nav class="55a11c7">
  <ul>
    <li><a href="#">NUS Orbital</a></li>
    <li><a href="#">Submissions</a></li>
    <li><a href="#">Past Year Showcase</a></li>
    <li><a href="#">News</a></li>
    <li><a href="#">Forum</a></li>
    <li class="middleSeparator"></li>
    {{if eq .participantTeamStatus "teamless"}}
    <li><a href="#" style="background-color:red">Create Team</a></li>
    {{else if eq .participantTeamStatus "inviteSent"}}
    <li><a href="#" style="background-color:red">Invite Sent</a></li>
    {{else if eq .participantTeamStatus "invitePending"}}
    <li><a href="#" style="background-color:red">Invite Pending</a></li>
    {{else}}
    <li><a href="#">Your Team</a></li>
    {{end}}
    <li><a href="#" style="font-style:italic;color:white">{{.display_name}}</a></li>
    <li><a href="#">Login</a></li>
  </ul>
</nav>
{{end}}
