<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  <link href='./static/global.css' rel='stylesheet' type='text/css'>
  <link href='./static/navbar.css' rel='stylesheet' type='text/css'>
  <link href='./static/pastYearShowcase.css' rel='stylesheet' type='text/css'>
</head>

{{template "navbar.html" .NavbarData}}
<div class="row">
  <div class="column">
    <div class="card">2019</div>
  </div>
  <div class="column">
    <div class="card">2018</div>
  </div>
  <div class="column">
    <div class="card">2017</div>
  </div>
  <div class="column">
    <div class="card">2016</div>
  </div>
</div>

<section class="cards">
  {{range .Projects}}
    <article>
      <img class="article-img" src="{{.IgnitionPitchPoster}}" alt=" " />
      <p>{{.ProjectName}}</p>
      <p>Project Video: <a href="{{.SafeProjectVideo}}" target="_blank">Link</a></p>
      <p>Project Poster: <a href="{{.SafeProjectPoster}}" target="_blank">Link</a></p>
      <!-- <p>Students: </p> -->
      <p>Advised by: {{.Adviser}}</p>
    </article>
  {{end}}
</section>

<pre>{{index .DebugStrings 0}}</pre>
