<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  <link href='./static/global.css' rel='stylesheet' type='text/css'>
  <link href='./static/navbar.css' rel='stylesheet' type='text/css'>
  <link href='./static/pastYearShowcase.css' rel='stylesheet' type='text/css'>
</head>

{{template "navbar.html" .NavbarData}}
<div class="row">
  <div class="column">
    <div class="card">Project</div>
  </div>
  <div class="column">
    <div class="card">Project</div>
  </div>
  <div class="column">
    <div class="card">Project</div>
  </div>
  <div class="column">
    <div class="card">Project</div>
  </div>
</div>
